/* Global Variables */
:root {
  --main-primary-color:#136186;   /* Cyan */
  --main-secondary-color:#222222; /* Black */
  --main-third-color:#e2e2e2;     /* Grey */
  --main-fourth-color:#191919;    /* Slate */
}

/* == Global == */
body, h1, h2, h3, p, form, ul, header, footer {
  margin:0px;
  padding:0px;
}

body {
  font-family:'K2D', Helvetica, sans-serif;
  background-color:var(--main-fourth-color);
}

.custom-container-about {
  width:90%;
  margin:auto;
  overflow:hidden;
  background-color:black;
  color:var(--main-third-color);
}

.custom-container {
  width:90%;
  margin:auto;
  overflow:hidden;  
}

/* Header */
header {
  position:fixed;
  top:0px;
  color:var(--main-third-color);
  background-color:black;
  padding-top:0px;
  margin: 0px 0px 0px 0px;
  min-height:0px;
  width: 100%;
  overflow-y:auto;
}

/* Footer */
footer {
  padding: 20px 0px 20px 0px;
  background-color:black;
  color:var(--main-third-color);
  text-align: center;
}

#custom-branding {
  float:left;
}

#custom-branding h1 {
  font-size: 64px;
}

#custom-branding, header li {
  display: inline-block;
}

header ul {
  float: right;
}

header li {
  float:right;
  padding:25px 0px 0px 90px;
}

header a {
  font-size: 13px;
  text-decoration:none;
  color:var(--main-third-color);
}

/* == index.html == */

/* index_Jumbotron */
.custom-jumbotron {
  text-align: center;
  color: var(--main-third-color);
  background:url('../img/background-concert.jpeg');
  background-repeat: no-repeat;
  background-position-y: 36%;
  background-position-x: 52%;
  background-attachment: fixed;
}

.custom-jumbotron h3 {
  padding: 300px 0px 10px 0px;
  font-size: 32px;
  font-weight:lighter;
}

#custom-action {
  margin: 0px 0px 700px 0px;
  font-size: 64px;
}

/* index_Services */
#custom-services { 
  background: rgba(0, 0, 0, 0.5);
  padding: 50px 0px 50px 0px;
}

#custom-services .custom-box {
  float:left;
  text-align:center;
  width:50%;
  padding: 0px 0px 0px 0px;
  color:white;
}

#custom-services .custom-box h3 {
  padding: 20px 0px 0px 0px;
}

#custom-services .custom-box p {
  padding: 20px 0px 0px 0px;
}

/* == about.html == */

/* Rule merely to get the text visible */
#custom-main-article {
  margin-top:64px;
  background-color:var(--main-fourth-color);
}

main h2 {
  text-align:center;
  font-size:48px;
  padding:30px 0px 30px 0px;
}

main h3 {
  font-size:32px;
  padding:40px 0px 40px 0px;
}

main p {
  font-size:24px;
  padding:0px 0px 20px 0px;
}

main img {
  float:right;
  width:30%;
}

/* "The People" */
.custom-main-text {
  float:left;
}

/* == Contact page == */
.custom-jumbotron-contact {
  text-align: center;
  color: var(--main-third-color);
  background:url('../img/Contact-computer.jpg');
  background-repeat: no-repeat;
  background-size:cover;
  background-attachment: fixed;
}

.custom-jumbotron-contact h3 {
  padding: 300px 0px 10px 0px;
  font-size: 32px;
  font-weight:lighter;
}

.custom-jumbotron-contact #custom-action {
  margin:0px;
  padding:0px 0px 500px 0px;
}

.custom-contact div {
  display:inline;
}

.custom-contact h3 {
  color:var(--main-third-color);
  padding:20px 0px 5px 0px;
}

.custom-contact input {
  width:49%;
  padding: 10px 0px 10px 0px;
  margin-bottom:5px;
}

.custom-contact textarea {
  width:49.5%;
  height:100px;
  resize:none;
}

.custom-contact button {
  background-color:var(--main-primary-color);
  border:none;
  color:var(--main-third-color);
  padding:10px 40px;  
  text-align:center;
  text-decoration:none;
  font-size:16px;
  margin:20px 0px;
}
